<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>163</key>
	<array>
		<dict>
			<key>createTime</key>
			<string>2016/03/26 16:34</string>
			<key>detail</key>
			<string>招行
18号账单 6号还款</string>
			<key>title</key>
			<string>招行</string>
		</dict>
	</array>
	<key>icloud</key>
	<array>
		<dict>
			<key>createTime</key>
			<string>2016/04/26 16:29</string>
			<key>detail</key>
			<string>清理相册

把不需要的相片删除，腾出手机内存空间。</string>
			<key>title</key>
			<string>清理相册</string>
		</dict>
		<dict>
			<key>createTime</key>
			<string>2016/04/22 11:31</string>
			<key>detail</key>
			<string>String类的实现

String类的几个常用的方法，如构造函数、复制构造函数、赋值函数等。</string>
			<key>title</key>
			<string>String类的实现</string>
		</dict>
		<dict>
			<key>createTime</key>
			<string>2016/02/16 10:12</string>
			<key>detail</key>
			<string>歌曲

白桦林－朴树
风往北吹－孙楠
以父之名－周杰伦</string>
			<key>title</key>
			<string>歌曲</string>
		</dict>
	</array>
	<key>qq</key>
	<array>
		<dict>
			<key>createTime</key>
			<string>2016/04/26 16:33</string>
			<key>detail</key>
			<string>书籍

老人与海
荒野猎人

希腊故事
呐喊</string>
			<key>title</key>
			<string>书籍</string>
		</dict>
		<dict>
			<key>createTime</key>
			<string>2016/04/22 12:34</string>
			<key>detail</key>
			<string>收衣服

晚上回去收衣服</string>
			<key>title</key>
			<string>收衣服</string>
		</dict>
	</array>
</dict>
</plist>
